
<!doctype html>
<html lang="en">
  <head>
    <title>ADMIN PANEL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

        

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/login-bg.jpg') }}')">

  </head>
  <body>
  <section class="ftco-section">
    
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
          <div class="wrap">
            <div class="login-wrap p-4 p-md-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">ADMIN LOGIN</h3>
                  
                </div>
                <div class="w-100">
                  <p class="social-media d-flex justify-content-end">
                    <a href="{{params['fb_url']}}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                    <a href="{{params['tw_url']}}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                  </p>
                </div>
              </div>
              <form action="/dashboard" method="post" class="signin-form">
                <div class="form-group mt-3">
                  <input type="text" id="uname" name="uname" class="form-control" required>
                  <label class="form-control-placeholder" for="uname">User Name</label>
                </div>
                <div class="form-group">
                  <input id="password-field" id="pass" name="pass" type="password" class="form-control" required>
                  <label class="form-control-placeholder" for="pass">Password</label>
                  
                </div>
                <div class="form-group">
                  <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                </div>
                <div class="form-group d-md-flex">
                  <div class="w-50 text-left">
                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    </label>
                  </div>

                  
                </div>
                <h5 class="text-center text-muted fst-italic" style="color: black">Copyright &copy;{{params['blog_name']}} 2022</h5>
                <a href="/">Home</a>
              </form>

             
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

 

  </body>
</html>

